  <!-- Pre-loader -->
  <!-- <div id="preloader">
    <div id="status">
      <div class="spinner">Loading...</div>
    </div>
  </div> -->
  <!-- End Preloader-->

  <!-- Home banner section start-->
  <section class="bg-home" style="background-image:url('assets/images/home/image3.jpg')" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="title-heading mt-5 text-center">
            <div class="alert alert-light alert-pills" role="alert">
              <span class="badge badge-danger badge-pill mr-2"> Hey </span>
              <span class="content text-white"> Looking for Developer ! <i class="mdi mdi-arrow-right"></i></span>
            </div>
            <h1 class="heading text-custom mt-4">Just call me Richy</h1>
            <h6 class="sub-title text-light">I'm a Passionate <span class="element text-primary"
                data-elements="Web Designer, Web Developer"> Full Stack Developer</span> who uses Javascript,Angular,Java, Springboot
              <br><span>to develop both web and mobile applications.</span></h6>
            <div class="mt-4 pt-4">
              <a href="javascript:void(0)" class="btn btn-primary mb-2 mr-3">Hire me</a>
              <a href="javascript:void(0)" class="btn btn-pill btn-outline-primary mb-2">Download CV <i
                  data-feather="download" class="fea icon-sm"></i></a>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Home banner section end-->

  <!-- About Start-->
  <section class="section pb-3" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-5">
          <div class="about-hero">
            <img src="assets/images/about-me.jpg" class="img-fluid mx-auto d-block rounded" alt="">
          </div>
        </div><!--end col-->

        <div class="col-lg-7 col-md-7 mt-4 mt-sm-0 pt-sm-0">
          <div class="section-title mb-0 ml-lg-5 ml-md-3">
            <h5 class="text-primary subtitle mb-3">Who am i?</h5>
            <h3 class="designation mb-4">I'm Richard Kumbirai Chifamba, a full stack developer in both mobile and web-based apps.</h3>
            <p class="text-muted">I am a very passionate young man based in Zimbabwe. Even though I graduated at the Universityof Zimbabwe in 2021, I have already been
              into software development since I was in part 1 (one) in 2017, where I started to build websites using Wordpress - Elementor plugin. Because I was interested in 
              Software development, I started building websites using pure HTML, CSS and PHP. In 2018, I was chosen to showcase my project together with the guys 
              who were in their final years. Even though I didnt win anything, it was funny and kept me motivated. Later on in 2019, I was also selected to be the developer of a 
              simple mobile application which was going to be used on the 2019 Research Week. I managed to develop and android version, due to lack of resources I couldnt build the
              IOS app. Then I got an attachment where I started Angular and Springboot frameworks. I designed 3 web-based applications during my attachment period.
              After that I did a project under blockchain technologies where I was focusing more on Consensus algorithms ( I developed my algorithm using Java-Springboot). And the 
              project was given a distinction. I also managed to showcase a another project and won a tablet during my part final. Then I was given a position of a front-end
              software developer at Digital Row in 2021, and then I moved on to Clicknpay by the end of 2021. Right now am still focusing on improving my knowlodge in Javascript 
              and Java through reading documentations, attending Language Ceminas and so on.</p>

            <address class="content-info mt-4">
              <div class="row">
                <div class="col-12 col-md-6 mb-3 single-info"><span class="mr-3">Name:</span>
                  <p class="text-muted">Richard Kumbirai Chifamba</p>
                </div>
                <div class="col-12 col-md-6 mb-3 single-info"><span class="mr-3">Email:</span>
                  <p class="text-muted"><a href="mailto:chifambarichard2@gmail.com">chifambarichard2@gmail.com</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 mb-3 single-info"><span class="mr-3">Age:</span>
                  <p class="text-muted">25</p>
                </div>
                <div class="col-12 col-md-6 mb-3 single-info"><span class="mr-3">From:</span>
                  <p class="text-muted">Harare,Zimbabwe</p>
                </div>
              </div>
            </address>

            <div class="mt-4">
              <a href="javascript:void(0)" class="btn btn-primary mb-2">About More</a>
            </div>

          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

 

    <div class="container mt-100 mb-100">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title">
            <div class="titles">
              <h4 class="title">Languages & Frameworks <br><span class="element text-primary"
                  data-elements="Hobbies, Interests, Focus"></span></h4>
              <span></span>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-2 col-md-4 col-12 mt-4 pt-2">
          <div class="interests-desc shadow bg-light position-relative py-3 rounded text-center">
            <div class="text-center hobbies-icon rounded-pill mx-auto">
              <i data-feather="monitor" class="icon fea icon-md-sm"></i>
            </div>

            <div class="content mt-3">
              <h6 class="title mb-0">Java</h6>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-12 mt-4 pt-2">
          <div class="interests-desc shadow bg-light position-relative py-3 rounded text-center">
            <div class="text-center hobbies-icon rounded-pill mx-auto">
              <i data-feather="stop-circle" class="icon fea icon-md-sm"></i>
            </div>

            <div class="content mt-3">
              <h6 class="title mb-0">Spring Boot</h6>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-12 mt-4 pt-2">
          <div class="interests-desc shadow bg-light position-relative py-3 rounded text-center">
            <div class="text-center hobbies-icon rounded-pill mx-auto">
              <i data-feather="video" class="icon fea icon-md-sm"></i>
            </div>
            <div class="content mt-3">
              <h6 class="title mb-0">Javascript</h6>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-12 mt-4 pt-2">
          <div class="interests-desc shadow bg-light position-relative py-3 rounded text-center">
            <div class="text-center hobbies-icon rounded-pill mx-auto">
              <i data-feather="target" class="icon fea icon-md-sm"></i>
            </div>

            <div class="content mt-3">
              <h6 class="title mb-0">Angular</h6>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-12 mt-4 pt-2">
          <div class="interests-desc shadow bg-light position-relative py-3 rounded text-center">
            <div class="text-center hobbies-icon rounded-pill mx-auto">
              <i data-feather="box" class="icon fea icon-md-sm"></i>
            </div>

            <div class="content mt-3">
              <h6 class="title mb-0">Ionic Angular</h6>
            </div>
          </div>
        </div><!--end col-->
      </div>
    </div><!--end container-->
  </section>


  <!-- Services Start -->
  <section class="section bg-light" id="services">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Projects</h4>
            <p class="text-muted mx-auto para-desc mb-0">
              Here is the list of my personal projects (not work related projects - click to view myCode on github)
            </p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5 shadow">
            <div class="icon wc-box-icon">
              <i data-feather="airplay" class="fea icon-md"></i>
            </div>
            <div class="content mt-4">
              <h5 class="se-title">My Resume</h5>
              <p class="text-muted se-subtitle mt-3 mb-0">This project shows the folder structuring only for huge small to medium projects</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5 shadow">
            <div class="icon wc-box-icon">
              <i data-feather="aperture" class="fea icon-md"></i>
            </div>
            <div class="content mt-4">
              <h5 class="se-title">Employee Manager (Backend) </h5>
              <p class="text-muted se-subtitle mt-3 mb-0">A backend application developed using Java (SpringBoot framework)</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
            <div class="icon wc-box-icon">
              <i data-feather="camera" class="fea icon-md"></i>
            </div>
            <div class="content mt-4">
              <h5 class="se-title">Employee Manager Front-end</h5>
              <p class="text-muted se-subtitle mt-3 mb-0">A frontend application developed using Angular which manages Employees</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
            <div class="icon wc-box-icon">
              <i data-feather="compass" class="fea icon-md"></i>
            </div>
            <div class="content mt-4">
              <h5 class="se-title">Market Place Front-end</h5>
              <p class="text-muted se-subtitle mt-3 mb-0">An application which can be used to transact or buy products online</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
            <div class="icon wc-box-icon">
              <i data-feather="settings" class="fea icon-md"></i>
            </div>
            <div class="content mt-4">
              <h5 class="se-title">Market Place Backend</h5>
              <p class="text-muted se-subtitle mt-3 mb-0">Backend application developed using Java (Springboot framework, Maven)</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="service-wrapper rounded position-relative text-center border border-footer p-4 pt-5 pb-5">
            <div class="icon wc-box-icon">
              <i data-feather="watch" class="fea icon-md"></i>
            </div>
            <div class="content mt-4">
              <h5 class="se-title">Reminder</h5>
              <p class="text-muted se-subtitle mt-3 mb-0">Cross platform mobile app developed using Ionic Angular & SpringBoot</p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Services End -->


  <!-- Freelance Start -->
  <section class="section freelance-section">
    <div class="bg-overlay"></div>
    <div class="container rounded-pill">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title text-center text-white">
            <h3 class="title mb-4">I Am Available For Freelancer Projects.</h3>
            <p class="text-white mx-auto mb-4 para-desc">Start working with Eegno that can provide everything you need
              to generate awareness, drive traffic, connect.</p>
            <a href="#contact" class="btn btn-primary mouse-down">Hire me <i data-feather="chevron-down"
                class="fea icon-sm"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services End -->

  <section class="section" id="resume">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">My Expertise</h4>
            <p class="text-muted mx-auto para-desc mb-0">Here is my roadmap since I started software development</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-12 mt-4 pt-2">
          <div class="main-icon rounded-pill text-center">
            <i data-feather="plus" class="fea icon-md-sm"></i>
          </div>
          <div class="timeline-page pt-2 position-relative">
            <div class="timeline-item mt-4">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="date-label-left border rounded"></div>
                  <div class="duration position-relative shadow text-center">1</div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="event event-description-right rounded p-4 border float-left text-left">
                    <h5 class="title mb-0 text-capitalize">Angular 8</h5>
                    <small class="company">2015 - 2018</small>
                    <p class="timeline-subtitle mt-3 mb-0 text-muted">The generated injected humour, or
                      non-characteristic words etc. Cum sociis natoque penatibus et magnis dis parturient montes,
                      nascetur ridiculus mus. Donec quam felis,</p>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-4">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                  <div class="event event-description-left rounded p-4 border float-left text-right">
                    <h5 class="title mb-0 text-capitalize">Web Developer</h5>
                    <small class="company">2012 - 2015</small>
                    <p class="timeline-subtitle mt-3 mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                  <div class="duration duration-right rounded border position-relative text-center">2</div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-4">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="date-label-left border rounded"></div>
                  <div class="duration position-relative shadow text-center">3</div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="event event-description-right rounded p-4 border float-left text-left">
                    <h5 class="title mb-0 text-capitalize">Graphic Designer</h5>
                    <small class="company">2012 - 2010</small>
                    <p class="timeline-subtitle mt-3 mb-0 text-muted">Therefore always free from repetition, injected
                      humour, or non-characteristic words etc. Cum sociis natoque penatibus et magnis dis parturient
                      montes, nascetur ridiculus mus. Donec quam felis, </p>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->
          </div><!--end timeline page-->
          <!-- TIMELINE END -->
        </div><!--end col-->
      </div><!--end row-->

      <div class="container mt-100">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="section-title">
              <div class="titles">
                <h4 class="title">My Skills</h4>
                <span></span>
              </div>
            </div>
          </div><!--end col-->
        </div><!--end row-->

        <!--start skills -->
        <div class="row container-skills pad-30 rounded-30 mt-4 align-items-center">
          <div class="col-md-6 col-12 mb-4">
            <div class="skill-box">
              <div class="progress-box mt-4">
                <h6 class="font-weight-normal">WordPress</h6>
                <div class="progress">
                  <div class="progress-bar position-relative bg-primary" style="width:84%;">
                    <div class="progress-value d-block text-dark h6">84%</div>
                  </div>
                </div>
              </div><!--end process box-->
              <div class="progress-box mt-4">
                <h6 class="font-weight-normal">PHP / MYSQL</h6>
                <div class="progress">
                  <div class="progress-bar position-relative bg-primary" style="width:75%;">
                    <div class="progress-value d-block text-dark h6">75%</div>
                  </div>
                </div>
              </div><!--end process box-->
              <div class="progress-box mt-4">
                <h6 class="font-weight-normal">Angular / JavaScript</h6>
                <div class="progress">
                  <div class="progress-bar position-relative bg-primary" style="width:79%;">
                    <div class="progress-value d-block text-dark h6">79%</div>
                  </div>
                </div>
              </div><!--end process box-->
            </div>
          </div>

          <div class="col-md-6 col-12 mb-4">
            <div class="skill-box">
              <div class="progress-box mt-4">
                <h6 class="font-weight-normal">HTML</h6>
                <div class="progress">
                  <div class="progress-bar position-relative bg-primary" style="width:95%;">
                    <div class="progress-value d-block text-dark h6">95%</div>
                  </div>
                </div>
              </div><!--end process box-->
              <div class="progress-box mt-4">
                <h6 class="font-weight-normal">CSS</h6>
                <div class="progress">
                  <div class="progress-bar position-relative bg-primary" style="width:93%;">
                    <div class="progress-value d-block text-dark h6">93%</div>
                  </div>
                </div>
              </div><!--end process box-->
              <div class="progress-box mt-4">
                <h6 class="font-weight-normal">Photoshop</h6>
                <div class="progress">
                  <div class="progress-bar position-relative bg-primary" style="width:85%;">
                    <div class="progress-value d-block text-dark h6">85%</div>
                  </div>
                </div>
              </div><!--end process box-->
            </div>
          </div>
        </div>

      </div><!--end container-->
    </div>
  </section>


  <!-- Projects End -->
  <section class="section bg-light" id="projects">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">My Portfolio</h4>
            <p class="text-muted mx-auto para-desc mb-0">Obviously I'm a Web Designer. Experienced with all stages of
              the development cycle for dynamic web projects.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div>

    <div class="container">
      <div class="row mt-4 pt-2">
        <div class="col-lg-12">
          <ul class="portfolioFilter text-center mb-0 list-unstyled">
            <li class="list-inline-item mb-3"><a href="#" data-filter="*"
                class="active text-dark mr-2 py-2 px-3 ">All</a></li>
            <li class="list-inline-item mb-3"><a href="#" data-filter=".natural"
                class="text-dark mr-2 py-2 px-3 ">Natural</a></li>
            <li class="list-inline-item mb-3"><a href="#" data-filter=".creative"
                class="text-dark mr-2 py-2 px-3 ">Creative</a></li>
            <li class="list-inline-item mb-3"><a href="#" data-filter=".personal"
                class="text-dark mr-2 py-2 px-3 ">Personal</a></li>
            <li class="list-inline-item mb-3"><a href="#" data-filter=".photography"
                class="text-dark mr-2 py-2 px-3 ">Photography</a></li>
          </ul>
        </div><!--end col-->
      </div><!--end row-->

      <div class="portfolioContainer row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2 natural personal">
          <div class="portfolio-box rounded position-relative overflow-hidden">
            <div class="portfolio-box-img rounded position-relative overflow-hidden">
              <img src="assets/images/portfolio/portfolio-1.jpg" class="img-fluid" alt="member-image">
              <div class="overlay-work">
                <div class="work-content text-center">
                  <a href="assets/images/portfolio/portfolio-1.jpg" class="text-light work-icon rounded-pill mfp-image">
                    <h4 class="title">Project Managment Illustration</h4>
                    <span class="more-button"><i data-feather="zoom-in" class="fea icon-sm image-icon"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2 creative personal photography">
          <div class="portfolio-box rounded position-relative overflow-hidden">
            <div class="portfolio-box-img rounded position-relative overflow-hidden">
              <img src="assets/images/portfolio/portfolio-2.jpg" class="img-fluid" alt="member-image">
              <div class="overlay-work">
                <div class="work-content text-center">
                  <a href="assets/images/portfolio/portfolio-2.jpg" class="text-light work-icon rounded-pill mfp-image">
                    <h4 class="title">The Advantageous</h4>
                    <span class="more-button"><i data-feather="more-horizontal"
                        class="fea icon-sm image-icon"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2 natural creative">
          <div class="portfolio-box rounded position-relative overflow-hidden">
            <div class="portfolio-box-img rounded position-relative overflow-hidden">
              <img src="assets/images/portfolio/portfolio-3.jpg" class="img-fluid" alt="member-image">
              <div class="overlay-work">
                <div class="work-content text-center">
                  <a href="assets/images/portfolio/portfolio-3.jpg" class="text-light work-icon rounded-pill mfp-image">
                    <h4 class="title">Onboarding Motivation</h4>
                    <span class="more-button"><i data-feather="camera" class="fea icon-sm image-icon"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2  personal photography">
          <div class="portfolio-box rounded position-relative overflow-hidden">
            <div class="portfolio-box-img rounded position-relative overflow-hidden">
              <img src="assets/images/portfolio/portfolio-4.jpg" class="img-fluid" alt="member-image">
              <div class="overlay-work">
                <div class="work-content text-center">
                  <a href="assets/images/portfolio/portfolio-4.jpg" class="text-light work-icon rounded-pill mfp-image">
                    <h4 class="title">The Nonsensical content</h4>
                    <span class="more-button"><i data-feather="maximize" class="fea icon-sm image-icon"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2 creative photography">
          <div class="portfolio-box rounded position-relative overflow-hidden">
            <div class="portfolio-box-img rounded position-relative overflow-hidden">
              <img src="assets/images/portfolio/portfolio-5.jpg" class="img-fluid" alt="member-image">
              <div class="overlay-work">
                <div class="work-content text-center">
                  <a href="assets/images/portfolio/portfolio-5.jpg" class="text-light work-icon rounded-pill mfp-image">
                    <h4 class="title">Guest App Walkthrough Screens</h4>
                    <span class="more-button"><i data-feather="paperclip" class="fea icon-sm image-icon"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2 natural creative">
          <div class="portfolio-box rounded position-relative overflow-hidden">
            <div class="portfolio-box-img rounded position-relative overflow-hidden">
              <img src="assets/images/portfolio/portfolio-6.jpg" class="img-fluid" alt="member-image">
              <div class="overlay-work">
                <div class="work-content text-center">
                  <a href="assets/images/portfolio/portfolio-6.jpg" class="text-light work-icon rounded-pill mfp-image">
                    <h4 class="title">Delivery App Wireframe</h4>
                    <span class="more-button"><i data-feather="link" class="fea icon-sm image-icon"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->
      </div><!-- End row -->

      <div class="row">
        <div class="col-lg-12 mt-4 pt-2">
          <div class="text-center">
            <a href="page-portfolio.html" class="btn btn-outline-primary">More works</a>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Projects End -->

  <!-- Client and Review Start -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Clients & Reviews</h4>
            <p class="text-muted mx-auto para-desc mb-0">Obviously I'm a Web Designer. Experienced with all stages of
              the development cycle for dynamic web projects.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->



      <div class="row">
        <div class="col-12 mt-4 pt-2">
          <div id="clients-testi" class="owl-carousel mt-3">
            <!--Start Client-->
            <div class="client-review position-relative text-center mx-auto">
              <div class="thumb mb-3 mx-auto">
                <img src="assets/images/avatar-1.svg" alt="customer-name" />
              </div>
              <h5 class="mt-3 mb-0">John Doe</h5>
              <span class="subtitle text-primary">Product designer at Dribbble</span>
              <div class="bg-white p-4 rounded triangle-top position-relative mt-4 mb-4">
                <p class="mb-0">I enjoy working with the theme and learn so much. You guys make the process fun and
                  interesting. Good luck! 👍</p>
              </div>
            </div><!--end client review-->
            <!--End Client-->

            <!--Start Client-->
            <div class="client-review position-relative text-center mx-auto">
              <div class="thumb mb-3 mx-auto">
                <img src="assets/images/avatar-1.svg" alt="customer-name" />
              </div>
              <h5 class="mt-3 mb-0">Jesse Hunt</h5>
              <span class="subtitle text-primary">Marketing Head</span>
              <div class="bg-white p-4 rounded triangle-top position-relative mt-4 mb-4">
                <p class="mb-0">I enjoy working with the theme and learn so much. You guys make the process fun and
                  interesting. Good luck! 👍</p>
              </div>
            </div><!--end client review-->
            <!--End Client-->

            <!--Start Client-->
            <div class="client-review position-relative text-center mx-auto">
              <div class="thumb mb-3 mx-auto">
                <img src="assets/images/avatar-1.svg" alt="customer-name" />
              </div>
              <h5 class="mt-3 mb-0">Mary Jane</h5>
              <span class="subtitle text-primary">Sco Manegement</span>
              <div class="bg-white p-4 rounded triangle-top position-relative mt-4 mb-4">
                <p class="mb-0">I enjoy working with the theme and learn so much. You guys make the process fun and
                  interesting. Good luck! 👍</p>
              </div>
            </div><!--end client review-->
            <!--End Client-->

            <!--Start Client-->
            <div class="client-review position-relative text-center mx-auto">
              <div class="thumb mb-3 mx-auto">
                <img src="assets/images/avatar-1.svg" alt="customer-name" />
              </div>
              <h5 class="mt-3 mb-0">Jay Allums</h5>
              <span class="subtitle text-primary">RedMI Product Manager</span>
              <div class="bg-white p-4 rounded triangle-top position-relative mt-4 mb-4">
                <p class="mb-0">I enjoy working with the theme and learn so much. You guys make the process fun and
                  interesting. Good luck! 👍</p>
              </div>
            </div><!--end client review-->
            <!--End Client-->

          </div><!--end testi review-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!--Client row-->

  <!-- Blog Start -->
  <section class="section bg-light" id="news">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Latest News & Blog</h4>
            <p class="text-muted mx-auto para-desc mb-0">Obviously I'm a Web Designer. Experienced with all stages of
              the development cycle for dynamic web projects.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <!-- start col -->
      <div class="row">
        <!-- start col -->
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="blog-post rounded shadow">
            <img src="assets/images/blog/1.jpg" class="img-fluid rounded-top" alt="">
            <div class="content bg-white pt-4 pb-4 p-3">
              <h5 class="mb-3 font-17"><a href="page-blog-detail.html" class="title text-dark">Our Home Entertainment
                  has Evolved Significantly</a></h5>
              <ul class="list-unstyled mb-0 pt-1 justify-content-between">
                <li class="list-inline-item mb-0 list-tag">May 5</li>
                <li class="list-inline-item ml-3 mb-0 list-tag"><a href="javascript:void(0)" class="text-dark">Read More
                  </a></li>
              </ul>
            </div><!--end content-->
          </div><!--end blog post-->
        </div><!--end col-->

        <!-- start col -->
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="blog-post rounded shadow">
            <img src="assets/images/blog/5.jpg" class="img-fluid rounded-top" alt="">
            <div class="content bg-white pt-4 pb-4 p-3">
              <h5 class="mb-3 font-17"><a href="page-blog-detail.html" class="title text-dark">These Are The Voyages of
                  The Starship Enterprise</a></h5>
              <ul class="list-unstyled mb-0 pt-1 justify-content-between">
                <li class="list-inline-item mb-0 list-tag">April 8</li>
                <li class="list-inline-item ml-3 mb-0 list-tag"><a href="javascript:void(0)" class="text-dark">Read
                    More</a></li>
              </ul>
            </div><!--end content-->
          </div><!--end blog post-->
        </div><!--end col-->

        <!-- start col -->
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
          <div class="blog-post rounded shadow">
            <img src="assets/images/blog/6.jpg" class="img-fluid rounded-top" alt="">
            <div class="content bg-white pt-4 pb-4 p-3">
              <h5 class="mb-3 font-17"><a href="page-blog-detail.html" class="title text-dark">Three Reasons Visibility
                  Matters in Supply Chain</a></h5>
              <ul class="list-unstyled mb-0 pt-1 justify-content-between">
                <li class="list-inline-item mb-0 list-tag">Jun 10</li>
                <li class="list-inline-item ml-3 mb-0 list-tag"><a href="javascript:void(0)" class="text-dark">Read More
                  </a></li>
              </ul>
            </div><!--end content-->
          </div><!--end blog post-->
        </div><!--end col-->

      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Blog End -->

  <!-- contact start -->
  <section class="section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Get in Touch</h4>
            <p class="text-muted mx-auto para-desc mb-0">Obviously I'm a Web Designer. Experienced with all stages of
              the development cycle for dynamic web projects.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <!-- start row -->
      <div class="row">
        <div class="col-lg-7 mt-4 pt-2">
          <div class="custom-form mb-5 mb-lg-0">
            <div id="message"></div>
            <h5 class="content-title mar-bottom">Message Me</h5>
            <form method="post" action="http://zoyothemes.com/eegno/layout/php/contact.php" name="contact-form"
              id="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="name" id="name" type="text" class="form-control border rounded"
                      placeholder="Your name...">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="email" id="email" type="email" class="form-control border rounded"
                      placeholder="Your email...">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <input name="subject" id="subject" class="form-control border rounded" placeholder="Your subject :">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea name="comments" id="comments" rows="4" class="form-control border rounded"
                      placeholder="Your message..."></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Send Message">
                  <div id="simple-msg"></div>
                </div><!--end col-->
              </div><!--end row-->
            </form><!--end form-->
          </div>
        </div>
        <div class="col-lg-5 mt-4 pt-2">
          <div class="contact-detail ml-lg-5">
            <h5 class="content-title mar-bottom">Contact Info</h5>
            <ul class="list-unstyled list-info">
              <li>
                <div class="media align-items-center">
                  <span class="info-icon"><i class="icon-xs icon fea icon-md" data-feather="target"></i></span>
                  <div class="info-details">
                    <h6 class="info-type">Name</h6>
                    <span class="info-value text-muted">Emma Smith</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="media align-items-center">
                  <span class="info-icon"><i class="icon-xs icon fea icon-md" data-feather="map"></i></span>
                  <div class="info-details">
                    <h6 class="info-type">Location</h6>
                    <span class="info-value text-muted">4155 Mann Island, Liverpool, United Kingdom.</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="media align-items-center">
                  <span class="info-icon"><i class="icon-xs icon fea icon-md" data-feather="phone-call"></i></span>
                  <div class="info-details">
                    <h6 class="info-type">Call Me</h6>
                    <span class="info-value"><a href="tel:+441632967704" class="text-primary">+44 1632 967704</a></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="media align-items-center">
                  <span class="info-icon"><i class="icon-xs icon fea icon-md" data-feather="mail"></i></span>
                  <div class="info-details">
                    <h6 class="info-type">Email Me</h6>
                    <span class="info-value"><a href="mailto:emma@example.com"
                        class="text-primary">emma@example.com</a></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end -->
    </div><!--end container-->
  </section>
 

 


